* {
  font-family: 'Press Start 2P', cursive;
  color: white;
}
body {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin:0;
  padding:0;
  min-height: 100vh;
  position: relative;
}
h2 {
  font-size: 14px;
}
.grid {
  display: grid;
  grid-template-columns: 300px 320px 250px ;
  
  
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topscore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.score-container {
  text-transform: uppercase;
  li {
    margin-bottom: 5px;
  }
  .active-player {
    color: yellow;
    text-shadow: 1px 1px 0 tomato;
  }
}
.game-board {
  border: solid 2px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
  max-width: 200px;
}

.direction-controll {
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 200px;
  & .btnControll{
    color: grey;
    display: inline-flex;
    height: 44px;
    flex-basis: 30%;

  }
  & .btnControll:first-child {
    display: block;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 5px;
  
  }
  
}
.music {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  padding: 0;

  svg {
    path {
      fill: white;
    }
  }
}